<input type="hidden" name="first_channel_id" value="{{ first.channel_id }}" />
<input type="hidden" name="first_name" value="{{ first.name }}" />
<input type="hidden" name="first_avatar" value="{{ first.avatar }}" />
<input type="hidden" name="first_subs" value="{{ first.subs }}" />
<input type="hidden" name="first_subs_raw" value="{{ first.subs_raw }}" />

<input type="hidden" name="second_channel_id" value="{{ second.channel_id }}" />
<input type="hidden" name="second_name" value="{{ second.name }}" />
<input type="hidden" name="second_avatar" value="{{ second.avatar }}" />
<input type="hidden" name="second_subs" value="{{ second.subs }}" />
<input type="hidden" name="second_subs_raw" value="{{ second.subs_raw }}" />
